0pippip[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
discord = "*"
"discord.py" = "*"
uvicorn = "*"
pillow = "*"
tensorflow = ">=2.8.0,<2.9.0"
keras = ">=2.8.0,<2.9.0"

[dev-packages]

[requires]
python_version = "3.11"
