0pippip[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
discord = "*"
"discord.py" = "*"
keras = "*"
uvicorn = "*"
tensorflow = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
